@CHARSET "ISO-8859-1";
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}


body
{
	margin: 0;
}

h1, h2, h3, h4, h5, h6 
{
	font-family: 'Hind Vadodara', sans-serif;
}

p, label, td, th
{
	font-family: "Lato", sans-serif;
}

#content-wrapper
{
	padding-top: 40px;
	position: relative;
}

#button-collapse 
{
	display: none;
	background-color: white;
	border: none;
	height: 40px;
	width: 40px;
	margin: auto;
	color: white;
	cursor: pointer;
	float: left;
	padding: 5px;
}

#header {
	height: 40px;
	background-color: white;
	padding: 5px 0;
	color: #FF003C;
	position: fixed;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 10px #3c3c3c;
}

#header h2 {
	margin: auto 0 !important;
	line-height: 40px;
	font-weight: 500;
}

.page
{
	width: 100%;
}

.image-page
{
	padding-top: 15%;
	padding-bottom: 25%;	
}

.content-page
{
	padding-top: 5%;
	padding-bottom: 5%;	
}

#footer
{
	padding-top: 5px !important;
	padding-bottom: 5px !important;	
}

.page-content
{
	vertical-align: middle;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 1000px;
}

#footer .page-content, #header .page-content
{
	padding: 0 5px;
}

.image-page .page-content
{
	height: 0;
}

.title
{
	color: white;
	width: 100%;
	display: block;
	white-space: pre;
	margin: 0 auto;
	text-shadow: 2px 2px 3px #2F2F3B;
}

.title-center
{	
	text-align: center;
}

.title-left
{	
	text-align: left;
}

.title-right
{	
	text-align: right;
}

.title-1
{
	font-family: "Hind Vadodara", sans-serif;
	font-weight: 600;
	font-size: 425%;
}

.title-2
{
	font-family: "Josefin Sans", sans-serif;
	font-size: 325%;
	font-weight: 300;
	line-height: 0.7em;
}

.box-border
{
	border: 1px solid;
	border-radius: 3px;
}

.box-border-transparent
{
	border: 1px solid transparent;
	border-radius: 3px;
}

.box-border-left
{
	border-left: 1px solid;
}

.box-border-right
{
	border-right: 1px solid;
}

.box-2
{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	padding: 3% 2%;
}

.box-4
{
	display: inline-block;
	width: 22%;
	vertical-align: top;
	padding: 2% 1%;
}

.fa
{
	text-align: center;
	width: 100%;
}

.icon-big
{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}

.content-title, .price
{
	font-size: 200%;
	width: 100%;
	text-align: center;
}

.content-title, .content-subtitle
{
	margin-top: 0;
	font-weight: 300;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
}

.price
{
	font-weight: 600;
}

.desc
{
	padding-top: 20px;
	height: 2em;
	text-align: center;
	font-weight: 600;
}

.desc-left
{
	text-align: left;
}

.feature-list
{
	padding-top: 10px;
	height: 7em;	
}

.desc, .feature-list
{
	font-family: "Lato", sans-serif;
	font-size: 105%;
	font-weight: 400;
}


.item-with-icon div
{
	display: inline-block;
}

.icon-wrapper
{
	width: 19.5%;
}

.caption-wrapper
{
	width: 79.5%;
	height: 4em;
}

.foot-note
{
	font-size: 90%;
	text-align: center;
}

input.contact-input, textarea.contact-input
{
	width: 96%;
	font-family: "Josefin Sans", sans-serif;
	font-size: 120%;
	line-height: 1.2em;
	padding: 2%;
	margin: 0;
	margin-bottom: 5px;
	vertical-align: middle;
	border: none;
}

button.contact-button
{
	width: 100%;
	font-family: "Josefin Sans", sans-serif;
	font-size: 120%;
	line-height: 1.2em;
	background-color: #FF7066;
	border: none;
	color: white;
	padding: 0;
	height: 2em;
}

.item-label
{
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	line-height: 0.6em;
}

.contact
{
	font-family: "Lato", sans-serif;
	font-size: 150%;
	margin-top: 0;
}

.contact a
{
	color: white;
	text-decoration: none;
}

.contact a:hover
{
	text-decoration: underline;
}


@media screen and (max-width: 768px)
{
	#button-collapse 
	{
		display: block;
	}
}