@CHARSET "ISO-8859-1";
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}


body
{
	margin: 0;
}

h1, h2, h3, h4, h5, h6 
{
	font-family: 'Quicksand', sans-serif;
}

span, p, label, td, th, small
{
	font-family: 'Quicksand', sans-serif;
}

#content-wrapper
{
	padding-top: 40px;
	position: relative;
}

#button-collapse 
{
	display: none;
	background-color: #005F6B;
	border: none;
	height: 40px;
	width: 40px;
	margin: auto;
	color: white;
	cursor: pointer;
	float: left;
	padding: 5px 0;
}

#header {
	height: 40px;
	background-color: #005F6B;
	padding: 5px 0;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 10px #3c3c3c;
}

#header h2 {
	margin: auto 0 !important;
	line-height: 40px;
	font-weight: 500;
}

.nav-menu, .content-nav {
	list-style-type: none;
	display: block;
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
}

.nav-menu
{
	float: right;
	height: 40px;
	margin: auto 0 !important;
	background-color: #005F6B;
}

.content-nav {
	margin: 0 auto !important;
	padding-left: 0;
	text-align: center;
}

.nav-menu li, .content-nav li {
	display: inline-block;
	padding: 0;
}

.nav-menu li
{	
	line-height: 40px;
	padding-left: 25px;
	text-align: left;
}

.content-nav li
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
}

.nav-menu li a, .content-nav li a {
	text-decoration: none;
	color: white;
	height: 100%;
	display: block;
	text-shadow: none;
}

a.nav-item
{
	font-family: "Quicksand", sans-serif;	
	text-decoration: none;
	color: white;
	font-size: 120%;
	height: 100%;
	line-height: 40px;
}

a.nav-item:hover, .nav-menu li a:hover, .content-nav li a:hover, .content-item.selected {
	text-shadow: 0 0 10px white;
}

.page
{
	width: 100%;
}

.image-page
{
	padding-top: 150px;
	padding-bottom: 400px;	
}

.content-page
{
	padding-top: 5%;
	padding-bottom: 5%;	
}

.div-between-top
{
	padding-bottom: 10%;	
}

.div-between-bottom
{
	padding-top: 3%;	
}

#footer
{
	padding-top: 5px !important;
	padding-bottom: 5px !important;	
}

.page-content
{
	vertical-align: middle;
	padding: 0 5%;
	margin: 0 auto;
	max-width: 1000px;
}

#footer .page-content
{
	padding: 0 5px;
}

.image-page .page-content
{
	height: 0;
}

.title
{
	color: white;
	width: 100%;
	display: block;
	white-space: pre;
	margin: 0 auto;
	font-family: "Quicksand", sans-serif;
}

.title-center
{	
	text-align: center;
}

.title-left
{	
	text-align: left;
}

.title-right
{	
	text-align: right;
}

.title-1
{
	font-size: 250%;
	font-weight: 400;
}

.title-2
{
	font-size: 150%;
	font-weight: 300;
}


.title-3
{
	font-size: 100%;
	font-weight: 300;
}

.box-border
{
	border: 1px solid;
	border-radius: 3px;
}

.box-border-transparent
{
	border: 1px solid transparent;
	border-radius: 3px;
}

.box-border-left
{
	border-left: 1px solid;
}

.box-border-right
{
	border-right: 1px solid;
}

.box-2
{
	width: 49%;
}

.box-2.indent-box
{
	width: 37%;
	padding-left: 12%;
}

.box-3
{
	width: 32.33%;
}

.box-4
{
	width: 24%;
}

.box-6
{
	width: 15.66%;
}

.box-2, .box-3, .box-4, .box-6
{
	display: inline-block;
	float: left;
	margin: 0.5%;
	vertical-align: top;
}


.box-container
{
	margin: 0 -0.5%;
	display: block;
	overflow: hidden;
}

.portfolio-box
{
	min-height: 30em;
}

.animation-wrapper
{
	overflow: hidden;
}

.gif-icon
{
	width: 50px;
	height: 50px;
}

.icon
{
	width: 25px;
	height: 25px;
}

.fa
{
	text-align: center;
	width: 100%;
}

.fa-quote-left
{
	text-align: left;
}

.fa-quote-right
{
	text-align: right;
}

.icon-big
{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}

.content-title
{
	font-size: 200%;
	width: 100%;
}

.content-subtitle
{
	font-size: 150%;
}

.content-title, .content-subtitle
{
	margin-top: 0;
	margin-bottom: 1%;
	font-weight: 300;
	text-align: center;
}

.desc
{
	font-size: 110%;
	font-weight: 400;
	padding-top: 0;
	text-align: center;
	margin-top: 0;
}

.desc.top-space
{
	margin-top: 5%;
}

.desc strong
{
	color: #00B4CC;
}

.desc-short
{
	height: 4em;
}

.desc-medium
{
	height: 7em;
}

.desc a
{
	color: white;
	text-decoration: underline;
}

.desc a:hover
{
	font-weight: 700;
}

#feature .desc
{
	margin-top: 20px;
}

.desc-left
{
	text-align: left;
}


.desc-right
{
	text-align: right;
}

.desc-mobile
{
	display: block;
}

.desc-mobile
{
	display: none;
}

h3.desc
{
	font-size: 130%;
	font-weight: 400;
}

.center-image
{
	padding-top: 45%; 
	height: 0;
}

.item-with-icon div
{
	display: inline-block;
	vertical-align: top;
}

.icon-wrapper
{
	width: 7%;
}

.caption-wrapper
{
	width: auto;
	max-width: 80%;
}

.sample-product
{
	display: block;
	width: 100%;
	padding-top: 100%;
	box-shadow: 2px 2px 10px #3c3c3c;
}

.sample-product:hover
{
	box-shadow: 2px 2px 10px #005F6B;
}

.person-photo
{
	width: 150px;
	height: 150px;
	display: block;
	margin: 5% auto;
}

.circle
{
	border-radius: 50%;
}

.product-overlay
{
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-top: -100%;
	background-color: rgba(255,255,255,0.55);
}

.foot-note
{
	font-size: 90%;
	text-align: center;
	font-weight: 300;
}

.foot-note a
{
	text-decoration: none;
	color: white;
}

.foot-note a:hover 
{
	text-decoration: underline;
}

.team-icon
{
	width: 100%;
	padding-top: 100%;
	box-shadow: 0 0 13px #757286;
}

.team-icon:hover
{
	box-shadow: 0 0 13px rgba(251, 207, 97, 1);
}

.icon-overlay
{
	width: 100%;
	height: 0;
	padding-top: 70%;
	padding-bottom: 30%;
	margin-top: -100%;
	background-color: rgba(47,47,59,0.7);
}

.team-name
{
	text-align: center;
	font-weight: 300;
	font-family: "Josefin Sans", sans-serif;
	margin: 0;
	color: #ffffff;
}

.team-socmed
{
	width: 100%;
	height: 0;
	padding-bottom: 10%;
}

.socmed-wrapper
{
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}

.socmed-item
{
	display: inline-block;
	width: 15%;
	height: 0;
	padding-top: 7.5%;
}

div.socmed-item
{
	width: 8%;
	padding-top: 8%;
}

.input-group
{
	width: 100%;
	display: block;
}

.input-container
{
	display: block;
	width: 100%;
}

.input-overlay
{
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;
}

.input-overlay.static
{
	opacity: 1;
}

.input-2
{
	width: 49%;
	display: block;
}

.input-2.left
{
	float:left;
}

.input-2.right
{
	float: right;
}

.input-message
{
	display: block;
	padding: 7px;
	margin: 0;
	margin-bottom: 10px;
	color: white;
}

.input-message span
{
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
}

.input-message.loading
{
	background-color: #F6FFB5;
	color: #FF8F57;
}

.input-message.success
{
	background-color: #00B96D;
}

.input-message.failed
{
	background-color: #FF9666;
}

.message-icon
{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}

input.contact-input, textarea.contact-input
{
	width: 98%;
	font-family: "Quicksand", sans-serif;
	font-size: 120%;
	color: #343838;
	line-height: 1.2em;
	background: rgba(255,255,255,0.7);
	padding: 1%;
	margin: 0;
	margin-bottom: 5px;
	vertical-align: middle;
	border: none;
}

button.contact-button
{
	font-size: 120%;
	font-family: "Quicksand", sans-serif;
	line-height: 1.2em;
	background-color: #00B4CC;
	float: right;
	border: none;
	color: white;
	padding: 2% 5%;
}

.item-label
{
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	line-height: 0.6em;
}

.contact
{
	font-family: "Quicksand", sans-serif;
	font-size: 125%;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}

.contact a
{
	color: white;
	text-decoration: none;
}

.contact a:hover
{
	text-decoration: underline;
}

.foot-line
{
	color: white;
	margin: 0;
}

#up-button
{
	display: block;
	width: 8%;
	height: auto;
	padding: 2.2% 0;
	margin: 0 auto;
	color: white;
	background-color: #1c1c1c;
	border: 3px solid;
}

.between-div
{
	margin-top: -7.5% !important;
}

@media screen and (max-width: 768px)
{
	#button-collapse 
	{
		display: block;
	}
	
	.nav-menu
	{
		display: none;
		clear: both;
		width: 100%;
		padding: 0 !important;
	}
	
	.nav-menu li
	{
		display: block;
		margin-left: -6%;
		margin-right: -6%;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.how-to-icon
	{
		width: 75%;
		max-width: 50%;
	}
	
	.image-page
	{
		padding-top: 100px;
		padding-bottom: 250px;
	}
		
	.title-1
	{
		font-size: 175%;
	}
	
	.title-2
	{
		font-size: 125%;
	}
	
	.title-3
	{
		font-size: 85%;
	}
	
	.content-title
	{
		font-size: 150%;
	}
	
	
	.content-subtitle
	{
		font-size: 125%;
	}
	
	.desc, .feature-list, .old-price
	{
		font-size: 100%;
	}
	
	.person-photo
	{
		width: 100px;
		height: 100px;
	}	
	
	.how-to-box
	{
		width: 23%;
		padding: 12.5% 1% !important;
	}
	
	.how-to-inner .desc
	{
		font-size: 85%;
		margin: -34% 0;
	}
	
	h3.desc
	{
		font-size: 110%;
	}
		
	.feature-list
	{
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.icon-big
	{
		width: 150px;
		height: 150px;
	}
	
	.testimonial
	{
		font-size: 100%;
	}
	
	input.contact-input, textarea.contact-input, button.contact-button
	{
		font-size: 105%;
	}
	
	.item-label
	{
		font-size: 95%;
	}
	
	.contact
	{
		font-size: 100%;
	}
	
	.foot-note
	{
		font-size: 80%;
	}
	
}

@media screen and (max-width: 640px)
{
	.image-page
	{
		padding-top: 75px;
		padding-bottom: 225px;
	}
	
	.title-1
	{
		font-size: 125%;
	}
	
	.title-2
	{
		font-size: 100%;
	}
	
	
	.title-3
	{
		font-size: 75%;
	}
			
	.desc-pc
	{
		display: none;
	}

	.desc-mobile
	{
		display: block;
	}
		
	.box-2
	{
		width: 99%;
	}
	
	.box-4
	{
		width: 49%;
	}
	
	
	.box-6
	{
		width: 32.33%;
	}
	
	.caption-wrapper, .testimonial-wrapper
	{
		width: 79.5%;
	}
		
}

@media screen and (max-width: 480px)
{
	.image-page
	{
		padding-top: 50px;
		padding-bottom: 200px;
	}
	
	
	.person-photo
	{
		width: 75px;
		height: 75px;
	}	
	
	.content-title
	{
		font-size: 120%;
	}
	
	
	.content-subtitle
	{
		font-size: 100%;
	}
	
	.desc, .feature-list
	{
		font-size: 90%;
	}
		
	.box-3
	{
		width: 99%;
	}	
	
		
	.center-image
	{
		padding-top: 0;
	}
	
	h3.desc
	{
		font-size: 100%;
	}
	
	
	.contact
	{
		font-size: 85%;
	}
}

@media screen and (max-width: 360px)
{
	.image-page
	{
		padding-top: 30px;
		padding-bottom: 200px;
	}
}