body {
	margin: 0;
}

.sidebar {
	width: 18%;
	display: inline-block;
	float: left;
	height: 595px;
	position: relative;
	background: rgba(44, 70, 79, 0.8);
	height: 600px;
	transition: 0.3s;
}

.sidebar .logo {
	position: relative;
	background-image: url("/assets/logowhite.png");
	background-size: 100% auto;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.sidebar .menu {
	position: relative;
	top: 5px;
	width: 130%;
	height: 240px;
}

.sidebar .menu .option {
	height: 60px;
	cursor: pointer;
	transition: 0.3s ease;
	width: 76%;
	display: inline-block;
	position: relative;
	top: 0px;
}

.sidebar .menu .option:HOVER {
	background-color: #3BAFDA;
	padding-left: 0px;
}

.sidebar .menu .option h3 {
	color: white;
	position: absolute;
	height: 100%;
	font-family: 'Pontano Sans', Serif;
	width: 100%;
	display: inline-block;
	left: 0px;
	text-align: center;
}

.menu .point {
	width: 0;
	height: 0;
	position: relative;
	top: 0px;
	opacity: 0;
	display: inline-block;
	left: -10px;
	border: 30px solid #3BAFDA;
	border-right: 30px solid transparent;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	transition: 0.4s ease;
}

.menu .point.active {
	opacity: 1;
	left: -5px;
}

.homeside {
	display: inline-block;
	width: 41%;
	background-color: #404148;
	height: 600px;
	float: left;
}

.homeside .title {
	width: 26%;
	height: 72%;
	display: inline-block;
	float: left;
	position: absolute;
	top: 22%;
	left: 20%;
}

.homeside .title h3 {
	font-family: 'Great Vibes', Cursive;
	text-align: right;
	font-size: 4em;
	margin: 0;
	margin-bottom: 10px;
	color: white;
	font-weight: lighter;
}

.homeside .homecontent {
	position: relative;
	display: inline-block;
	width: 620px;
	height: 464px;
	background: #ff6f6f;
	top: 12%;
	left: 74%;
	box-shadow: grey 0px 0px 22px;
	float: left;
}

.homeside.home2 {
	background-color: #bdc3c7;
}

.homecontent .pic {
	width: 100%;
	height: 330px;
	background-repeat: no-repeat;
}

.homecontent .pic#pic1 {
	background-image: url("/images/brownies in jar.jpg");
	background-size: 126% auto;
	background-position: center -4px;
}

.homecontent .pic#pic2 {
	background-image: url("/images/brownies.jpg");
	background-size: 126% auto;
	background-position: center -4px;
}

.homecontent .pic#pic3 {
	background-image: url("/images/lasagna.jpg");
	background-size: 126% auto;
	background-position: center -4px;
}

.homeside .title p {
	font-family: 'Alegreya Sans', Serif;
	font-weight: lighter;
	color: white;
	text-align: right;
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 800;
}

.homeside .title h3.titlehead {
	font-family: 'Great Vibes', Cursive;
	font-style: italic;
	margin-bottom: 0px;
	font-size: 2.5em;
}

.homeside .title h3.titlefoot {
	font-size: 1.7em;
	font-family: 'Alegreya Sans', Serif;
}

.sidebar .socmed {
	width: 100%;
	height: 100px;
	position: relative;
	top: 7%;
}

.socmed .row {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	margin: 0 auto;
	color: #3BAFDA;
	background: transparent;
	text-align: center;
	margin-bottom: 10px;
	background: transparent
}

.socmed .row.phone {
	color: white;
	font-family: 'Alegreya Sans', Serif;
	/* font-weight: bold; */
	font-size: 1em;
}

.socmed .fa-2x {
	font-size: 1.5em;
}

.homecontent .desc h3 {
	font-family: 'Alegreya Sans', Serif;
	margin: 0;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 2em;
	color: white;
	text-shadow: 0px 0px 1px grey;
	font-weight: bolder;
}

.homecontent .desc p {
	font-family: 'Alegreya Sans', Serif;
	margin: 0;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 1em;
	color: white;
}

.homecontent .prev {
	position: absolute;
	height: 330px;
	width: 50px;
	background: rgba(255, 255, 255, 0);
	float: left;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0.5;
}

.homecontent h3 {
	margin: 0 auto;
	position: relative;
	top: 45%;
}

.homecontent span {
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.homecontent .next {
	position: absolute;
	height: 330px;
	width: 50px;
	background: rgba(255, 255, 255, 0);
	right: 0px;
	float: right;
	top: 0px;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
	opacity: 0.5;
}

.homecontent .prev:HOVER, .homecontent .next:HOVER {
	opacity: 1;
}

.homecontent .hover {
	background: rgba(255, 255, 255, 0.5);
}

.row {
	height: 600px;
	width: 100%;
	background: #404148;
}

#products.row {
	background: #404148;
	height: 840px;
}

.abouttitle h3 {
	margin: 0;
	color: white;
	position: relative;
	left: 18%;
	width: 82%;
	margin-bottom: 20px;
	font-family: 'Alegreya Sans', Serif;
	font-size: 3em;
	text-align: center;
	padding-top: 10px;
}

.aboutcontent {
	height: 750px;
	position: relative;
	left: 18%;
	width: 80%;
	padding-left: 2%;
}

.aboutcontent .product {
	display: inline-block;
	position: relative;
	width: 48%;
	float: left;
	height: 350px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px grey;
	margin-right: 20px;
}

.aboutcontent .product .productpic {
	height: 220px;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

.aboutcontent .product .productpic.product2 {
	background-image: url("/images/brownies in jar.jpg");
	background-size: 100% auto;
	background-position: center center;
}

.aboutcontent .product .productpic.product1 {
	background-image: url("/images/brownies in jar1.jpg");
	background-size: 100% auto;
	background-position: center center;
}

.product .overlay {
	position: relative;
	width: 100%;
	height: 130px;
	background-color: #4EC1E9;
	z-index: 2;
	opacity: 1;
}

.product .overlay h3 {
	margin: 0;
	top: 10px;
	position: relative;
	left: 19px;
	font-family: 'Alegreya Sans', Serif;
	font-size: 1.5em;
	color: white;
	text-shadow: 0px 0px 5px grey;
	font-weight: bold;
}

.product .overlay p {
	margin: 0;
	top: 15px;
	position: relative;
	left: 20px;
	font-family: 'Alegreya Sans', Serif;
	font-size: 1em;
	color: white;
	text-shadow: 0px 0px 5px grey;
	width: 445px;
	text-align: justify;
}

#about .aboutbox {
	left: 18%;
	position: relative;
	width: 78%;
	height: 400px;
	padding-left: 4%;
	padding-right: 0%;
}

.aboutbox .aboutsub {
	height: 360px;
	position: relative;
	width: 33.3%;
	float: left;
	display: inline-block;
	top: 20px;
	bottom: 20px;
}

.aboutsub .circle {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #34c663;
	margin: 0 auto;
}

.aboutsub .content {
	width: 100%;
	height: 330px;
	background-color: #34c663;
	position: relative;
	top: -50px;
}

.aboutbox .aboutpic {
	height: 400px;
	position: relative;
	width: 33%;
	float: left;
	display: inline-block;
	left: -20px;
	z-index: 2;
}

.aboutpic .circle {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #1ea74b;
	margin: 0 auto;
}

.aboutpic .content {
	width: 100%;
	height: 370px;
	background-color: #1ea74b;
	position: relative;
	top: -50px;
}

.aboutbox .aboutsub2 {
	height: 360px;
	position: relative;
	width: 33.3%;
	float: left;
	display: inline-block;
	top: 20px;
	bottom: 20px;
	z-index: 1;
}

.aboutsub2 .circle {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #059a36;
	margin: 0 auto;
	left: -40px;
	position: relative;
}

.aboutsub2 .content {
	width: 100%;
	height: 330px;
	background-color: #059a36;
	position: relative;
	top: -50px;
	left: -40px;
}

.aboutbox .content span {
	color: white;
	position: relative;
	font-size: 2em;
	top: -20px;
	width: 100%;
	text-align: center;
}

.aboutsub h3 {
	font-family: 'Alegreya Sans', Serif;
	color: white;
	text-align: center;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.75em;
	font-weight: bold;
	left: -5px;
	top: 20px;
}

.aboutpic .logo {
	width: 100%;
	height: 100%;
	background-image: url("/assets/logowhite.png");
	background-size: 100% auto;
	position: relative;
	top: -10px;
	background-repeat: no-repeat;
}

.aboutsub2 h2 {
	font-family: 'Great Vibes', Cursive;
	color: white;
	text-align: center;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 3em;
	font-weight: lighter;
}

div#about.row {
	height: 550px;
}

.contactcontent {
	left: 18%;
	width: 74%;
	position: relative;
	height: 400px;
	left: 22%;
	right: 4%;
}

.contactcontent .content {
	width: 40%;
	float: left;
	display: inline-block;
	height: 100%;
	z-index: 2;
	position: relative;
}

.contactcontent .content .wallp {
	background-color: #34c663;
	width: 143%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.contactcontent .pic {
	width: 59%;
	float: left;
	display: inline-block;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.contactcontent .pic .wallp {
	background-color: #1ea74b;
	position: absolute;
	width: 225%;
	height: 225%;
	transform: rotate(20deg);
	z-index: 4;
	left: 26px;
	box-shadow: 0px 0px 22px lightgreen;
}

.contactcontent .content h3 {
	font-family: 'Alegreya Sans', Serif;
	color: white;
	font-size: 3em;
	margin: 0;
	margin-top: 10px;
	left: 30%;
	position: relative;
	font-weight: lighter;
}

table.contactdetails {
	width: 130%;
	position: relative;
	padding-left: 40px;
	top: 20px;
}

.contactdetails tr {
	height: 30px;
	font-family: 'Alegreya Sans', Serif;
	font-size: 1.5em;
	color: white;
}

.contactdetails .line {
	background-image: url("/assets/line.png");
	background-size: auto 100%;
	width: 100%;
	background-repeat: no-repeat;
	height: 42px;
}

.contactdetails .whatsapp {
	text-align: center;
}

table.ordertable {
	z-index: 6;
	position: relative;
	left: 155px;
	top: 50px;
	width: 350px;
}

.ordertable tr {
	height: 50px;
	margin-bottom: 10px;
}

.ordertable .boxicon {
	height: 33px;
	font-size: 1.25em;
	top: 5px;
	position: relative;
	color: white;
}

.ordertable input {
	width: 100%;
	height: 30px;
	border: 1px solid grey;
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Alegreya Sans', Serif;
	color: black;
	font-size: 1.25em;
	padding-left: 10px;
}

.ordertable textarea {
	width: 100%;
	height: 100px;
	border: 1px solid grey;
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Alegreya Sans', Serif;
	color: white;
	font-size: 1.25em;
	padding-left: 10px;
	top: 7px;
	position: relative;
}

.ordertable button.submit {
	width: 105%;
	height: 50px;
	position: relative;
	top: 10px;
	border: 1px solid grey;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Alegreya Sans', Serif;
	font-size: 1.25em;
}

div#contact.row {
	height: 470px;
}

.sidebar .burger {
	display: none;
}

.copyright {
    width: 100%;
    position: relative;
    height: 30px;
    background-color: rgba(44, 70, 79, 1);
    text-align: center;
    top: 0px;
    padding-top: 5px;
}

.copyright h3 {
    margin: 0;
    margin-top: 5px;
    font-family: 'Alegreya Sans', Serif;
    font-weight: lighter;
    font-size: 15px;
    color: white;
}

.copyright h3 a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #fb6d7f;
}