body {
	margin: 0;
	overflow-x: hidden;
}

.header {
	height: 80px;
	position: fixed;
	transition: 0.5s;
	width: 100%;
	z-index: 999999;
}

.header .leftribbon {
	width: 0px;
	height: 0px;
	border: 23px solid rgba(81, 102, 51, 0.7);
	position: relative;
	display: inline-block;
	border-left: 24px solid transparent;
	left: 100px;
	top: 10px;
	z-index: 0;
	transition: 0.5s;
}

.header .bar {
	width: 80%;
	height: 50px;
	left: 83px;
	bottom: 0px;
	top: 25px;
	position: relative;
	/* border: 1px solid gray; */
	box-shadow: gray 0px 0px 8px 0px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 20;
	transition: 0.5s;
}

.header .rightribbon {
	width: 0px;
	height: 0px;
	border: 23px solid rgba(81, 102, 51, 0.7);
	position: relative;
	display: inline-block;
	border-right: 24px solid transparent;
	left: 75px;
	top: 10px;
	z-index: 0;
	transition: 0.5s;
}

.dash .logo {
	display: inline-block;
	width: 22%;
	height: 100%;
	border: 1px solid grey;
	border-radius: 32px;
	background: rgba(255, 255, 255, 1);
	top: -11px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.dash .logo .logoimg {
	background-image: url("/assets/logo.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 180px;
	height: 100px;
	position: relative;
	margin: 0 auto;
}

.header .bar .dash {
	position: relative;
	width: 99%;
	height: 85%;
	top: 5%;
	left: 0.5%;
	border: 1px gray dashed;
}

.header .leftshadow {
	display: inline-block;
	height: 46px;
	width: 10px;
	background: rgba(81, 102, 51, 0.9);
	position: relative;
	top: 10px;
	left: 87px;
	transition: 0.5s;
}

.header .rightshadow {
	display: inline-block;
	width: 10px;
	height: 46px;
	background: rgba(81, 102, 51, 0.9);
	left: 79px;
	position: relative;
	top: 10px;
	transition: 0.5s;
}

.menu {
	font-family: 'Playfair Display', Serif;
	font-size: 24px;
	position: relative;
	margin: 0;
	/* margin-top: 4px; */
	padding-left: 50px;
	width: 31%;
	height: 100%;
	display: inline-block;
	top: -20px;
}

.dash .menu .option {
	display: inline-block;
	width: 43%;
	float: left;
	transition: 0.3s;
	height: 100%;
	padding-top: 0px;
	text-align: center;
	cursor: pointer;
}

.dash .menu .option:HOVER {
	color: white;
	height: 113%;
	position: relative;
	top: -5px;
	padding-top: 5px;
	text-shadow: 1px 1px gray;
}

.dash .menu #home:HOVER {
	background-color: rgba(31, 193, 180, 0.7);
}

.dash .menu #about:HOVER {
	background-color: rgba(221, 83, 73, 0.7);
}

.dash .menu #shopnow:HOVER {
	background-color: rgba(250, 113, 0, 0.7);
}

.dash .menu #contact:HOVER {
	background-color: rgba(105, 193, 239, 0.7);
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
}

#home1 {
	background-image: url('/images/home1.jpg');
}

.bghome {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#home2, #home3, #home4, #home5 {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}

#home2 {
	background-image: url('/images/home2.jpg');
}

#home3 {
	background-image: url('/images/home3.jpg');
}

#home4 {
	background-image: url('/images/home4.jpg');
}

.dash .menu .option h3 {
	font-family: 'Playfair Display', Serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 14px;
}

#home .flag {
	position: relative;
	border: 20px solid transparent;
	border-left: 67px solid rgba(31, 193, 180, 0.9);
	border-right: 67px solid rgba(31, 193, 180, 0.9);
	border-top: 10px solid rgba(31, 193, 180, 0.9);
	width: 0px;
}

#about .flag {
	position: relative;
	border: 20px solid transparent;
	border-left: 67px solid rgba(221, 83, 73, 0.9);
	border-right: 67px solid rgba(221, 83, 73, 0.9);
	border-top: 10px solid rgba(221, 83, 73, 0.9);
	width: 0px;
}

#shopnow .flag {
	position: relative;
	border: 20px solid transparent;
	border-left: 67px solid rgba(250, 113, 0, 0.9);
	border-right: 67px solid rgba(250, 113, 0, 0.9);
	border-top: 10px solid rgba(250, 113, 0, 0.9);
	width: 0px;
}

#contact .flag {
	position: relative;
	border: 20px solid transparent;
	border-left: 67px solid rgba(105, 193, 239, 0.9);
	border-right: 67px solid rgba(105, 193, 239, 0.9);
	border-top: 10px solid rgba(105, 193, 239, 0.9);
	width: 0px;
}

.main {
	position: relative;
	width: 100%;
	height: 586px;
}

.main .maintitle {
	width: 100%;
	position: relative;
	font-family: 'Playfair Display', Serif;
	color: white;
	text-align: center;
	font-style: italic;
	text-shadow: 2px 2px black;
	margin-top: 0px;
	top: 140px;
}

.main .maintitle h1 {
	font-weight: lighter;
	font-size: 5em;
	margin: 0;
	margin-bottom: 10px;
}

.main .maintitle h2 {
	font-weight: lighter;
	margin: 0;
	font-size: 4em;
	margin-bottom: 10px;
}

.main .maintitle h3 {
	font-weight: lighter;
	font-size: 2.5em;
	margin: 0;
}

.main .switcher {
	text-align: center;
	margin-top: 180px;
}

.switcher .switch {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #8f8f8f;
	border-radius: 20px;
	box-shadow: grey 0px 0px 19px 2px;
	margin-right: 20px;
	cursor: pointer;
	background: white;
}

.switcher .active {
	background-color: #4f4f4f;
}

.abouttitle {
	height: 150px;
	background-color: rgba(160, 212, 104, 1);
	width: 110%;
	left: -7px;
	z-index: 1;
	position: relative;
	text-align: center;
}

.aboutcontent {
	background-color: lightgrey;
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 0;
	top: 0px;
}

.abouttitle .cupcakelogo {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 0;
}

.abouttitle .cupcakebg {
	width: 150px;
	height: 150px;
	position: relative;
	background-color: rgba(160, 212, 104, 1);
	border-radius: 150px;
	top: -65px;
	display: inline-block;
	left: -10px;
	border-top: 2px dashed rgba(88, 162, 8, 1);
}

.cupcakelogo .cupcakeimg {
	display: inline-block;
	background-image: url("/assets/cake1.png");
	top: -105px;
	left: -139px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	position: relative;
	top: -105px;
}

.abouttitle h1 {
	font-weight: lighter;
	color: white;
	font-family: 'Playfair Display', Serif;
	font-size: 3em;
	top: -139px;
	position: relative;
	left: -63px;
	text-shadow: 2px 2px gray;
}

.aboutcontent .box {
	position: relative;
	top: 95px;
	left: 75px;
	width: 90%;
	height: 67%;
}

.aboutcontent .box .photo {
	height: 100%;
	width: 49%;
	position: relative;
	display: inline-block;
	background-image: url("/images/about1.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: grey 0px 0px 30px 5px;
}

.box .abouttext {
	background: white;
	display: inline-block;
	height: 100%;
	width: 49%;
	position: relative;
	left: -5px;
	box-shadow: grey 0px 0px 30px 5px;
}

.aboutcontent .box .abouttext p {
	display: inline-block;
	position: absolute;
	left: 20px;
	text-align: justify;
	right: 23px;
	font-family: 'Playfair Display', Serif;
	font-size: 1.2em;
	top: 3px;
	quotes: "\201C" "\201D" "\2018" "\2019";
}

.aboutcontent .box .abouttext p:before {
	content: open-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
	font-family: 'Playfair Display', Serif;
}

.aboutcontent .bgimg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("/images/about1.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

#shopnowdiv .box {
	height: 220px;
	width: 100%;
	background-color: #f4f0e8;
}

#shopnowdiv .box .shoptitle {
	height: 100px;
	position: relative;
	background: rgba(31, 193, 180, 1);
	text-align: center;
	z-index: 3;
}

.box .shoptitle h1 {
	margin: 0;
	position: relative;
	top: 20px;
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	color: white;
	font-size: 3em;
	text-shadow: 2px 2px grey;
}

#shopnowdiv .box .flag {
	border: 100px solid transparent;
	border-left: 631.5px solid transparent;
	border-right: 631.5px solid transparent;
	height: 0px;
	position: relative;
	width: 0px;
	border-top: 100px solid rgba(31, 193, 180, 1);
	text-align: center;
	-webkit-filter: drop-shadow(5px 5px 5px gray);
	-moz-filter: drop-shadow(5px 5px 5px gray);
	-o-filter: drop-shadow(5px 5px 5px gray);
	-ms-filter: drop-shadow(5px 5px 5px gray);
	filter: drop-shadow(5px 5px 5px gray);
	z-index: 2;
}

#shopnowdiv .box .flag .cakebox {
	background-image: url("/assets/cake2.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	/* display: inline-block; */
	position: relative;
	top: -102px;
	left: -41px;
}

#shopnowdiv .shopcontent {
	width: 100%;
	background: #f4f0e8;
	padding-bottom: 30px;
}

.shopcontent .item {
	width: 33.1%;
	height: 500px;
	display: inline-block;
	text-align: center;
	position: relative;
}

.shopcontent .item h2 {
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	margin: 0;
	font-size: 1.75em;
	margin-bottom: 20px;
	font-style: italic;
	color: #d08b96;
	margin-top: 15px;
	text-shadow: 0.75px 0.75px #afafaf;
}

.shopcontent .item .cakeimg {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	/* background-image: url("/images/shop1.jpg"); */
	background-size: 160% auto;
	background-repeat: no-repeat;
	background-position: -120px -6px;
	position: relative;
	display: inline-block;
	border: 3px solid #fcd0d3;
	-webkit-filter: drop-shadow(0px 0px 7px grey);
	-moz-filter: drop-shadow(0px 0px 7px grey);
	-o-filter: drop-shadow(0px 0px 7px grey);
	-ms-filter: drop-shadow(0px 0px 7px grey);
	filter: drop-shadow(0px 0px 7px grey);
	cursor: pointer;
}

.shopcontent .item #img1 {
	background-image: url("/images/customdesign1.jpg");
	background-position: -70px -6px;
}

.shopcontent .item #img2 {
	background-image: url("/images/customdesigncake1.jpg");
	background-position: -55px -6px;
}

.shopcontent .item #img3 {
	background-image: url("/images/regularcupcake.jpg");
	background-position: -120px -10px;
}

.shopcontent .item h3 {
	font-family: 'Playfair Display', Serif;
	font-weight: 300;
	margin: 0;
	font-size: 1.25em;
	margin-top: 15px;
	color: #3f3f3f;
}

.shopcontent .item i {
	font-size: 0.75em;
}

.shopcontent2 {
	width: 100%;
	background-color: #4c3c3c;
	padding-top: 30px;
	border-top: 3px dashed white;
}

.shopcontent2 .item {
	width: 24.7%;
	height: 500px;
	display: inline-block;
	text-align: center;
	position: relative;
	align-items: center;
}

.shopcontent2 .item .icon {
	width: 40px;
	height: 40px;
	background: url("/assets/lovepink.png");
	background-size: 73% auto;
	background-repeat: no-repeat;
	background-position: 5px 6px;
	border-radius: 30px;
	background-color: white;
	display: block;
	margin: 0 auto;
	z-index: 21;
	position: absolute;
	left: 42%;
	border: 4px solid #4c3c3c;
}

.shopcontent2 .item .boxitem {
	display: block;
	width: 85%;
	height: 90%;
	border: 2px solid black;
	position: relative;
	top: 21px;
	margin: 0 auto;
	z-index: 0;
}

.shopcontent2 .boxitem .img {
	width: 100%;
	height: 75%;
	/* background-image: url("/images/shop2.jpg"); */
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: -84px 1px;
	border-bottom: 2px solid #fb6d7f;
}

.shopcontent2 .boxitem #img1 {
	background-image: url("/images/puding.jpg");
	background-position: center center;
	background-size: 100% auto;
}

.shopcontent2 .boxitem #img2 {
	background-image: url("/images/sifon keju.jpg");
	background-position: center center;
	background-size: 100% auto;
}

.shopcontent2 .boxitem #img3 {
	background-image: url("/images/sifon pandan.jpg");
	background-position: center center;
	background-size: 100% auto;
}

.shopcontent2 .boxitem #img4 {
	background-image: url("/images/almond crispy.jpg");
	background-position: center center;
	background-size: 100% auto;
}

.shopcontent2 .boxitem #img5 {
	background-image: url("/images/puding 1.jpg");
}

.shopcontent2 .boxitem #img6 {
	background-image: url("/images/chocoball.jpg");
}

.shopcontent2 .boxitem #img7 {
	background-image: url("/images/ayam.jpg");
}

.shopcontent2 .boxitem #img8 {
	background-image: url("/images/cheesecake.jpg");
}

.shopcontent2 .boxitem #img9 {
	background-image: url("/images/sobek.jpg");
}

.shopcontent2 .boxitem #img10 {
	background-image: url("/images/keju.jpg");
}

.shopcontent2 .boxitem #img11 {
	background-image: url("/images/pop.jpg");
}

.shopcontent2 .boxitem #img12 {
	background-image: url("/images/semir.jpg");
}

.shopcontent2 .boxitem .text {
	width: 100%;
	height: 25%;
	background-color: #f4f0e8;
}

.shopcontent2 .boxitem .text h3 {
	margin: 0;
	position: relative;
	padding-top: 10px;
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	font-style: italic;
	color: #fb6d7f;
	font-size: 1.5em;
	text-shadow: 0.5px 0.5px gray;
}

.shopcontent2 .boxitem .text p {
	margin: 0;
	position: relative;
	padding-top: 10px;
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	font-size: 1em;
}

div#contactdiv {
	background-color: #f4f0e8;
}

#contactdiv .head {
	width: 100%;
	height: 100px;
	text-align: center;
}

#contactdiv .head h2 {
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	font-size: 2em;
	font-style: italic;
	margin: 0;
	position: relative;
	top: 20px;
	color: #fb6d7f;
	text-shadow: 0.5px 0.5px grey;
}

.contactcontent .contacttable {
	margin: 0 auto;
	width: 52%;
	padding-bottom: 50px;
	display: inline-block;
	position: relative;
	left: 50px;
}

.contacttable tr {
	height: 60px;
	margin-bottom: 10px;
}

.contacttable td {
	font-family: 'Playfair Display', Serif;
	font-size: 18px;
	text-align: right;
}

.contacttable input {
	height: 25px;
	width: 95%;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	border: 0;
	border: 1px solid #fb6d7f;
	font-family: 'Playfair Display', Serif;
	font-size: 16px;
	-webkit-filter: drop-shadow(1px 1px grey);
	-moz-filter: drop-shadow(1px 1px grey);
	-o-filter: drop-shadow(1px 1px grey);
	-ms-filter: drop-shadow(1px 1px grey);
	filter: drop-shadow(1px 1px grey);
}

.contacttable textarea {
	height: 50px;
	width: 98%;
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	border: 0;
	border: 1px solid #fb6d7f;
	font-family: 'Playfair Display', Serif;
	font-size: 16px;
	box-shadow: 1px 1px lightgrey;
}

.contacttable button {
	width: 87%;
	border-radius: 5px;
	background-color: #fb6d7f;
	color: white;
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	font-size: 18px;
	border: 0;
	height: 35px;
	font-size: 18px;
}

#contactdiv .addr {
	width: 47%;
	display: inline-block;
	position: relative;
	bottom: 120px;
	left: 145px;
}

#contactdiv .addr tr {
	height: 30px;
}

#contactdiv .addr #contacttitle {
	font-size: 1.5em;
	height: 48px;
	color: #fb6d7f;
}

#contactdiv .addr td {
	font-family: 'Playfair Display', Serif;
	position: relative;
}

.socmed {
	width: 100%;
	height: 65px;
	background-color: #4c3c3c;
	padding-top: 15px;
	position: relative;
	text-align: center;
}

.socmed .item {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #331f20;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	color: white;
	font-size: 28px;
	cursor: pointer;
}

.socmed .item span {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	top: 10px;
}

.copyright {
	width: 100%;
	position: relative;
	height: 30px;
	background-color: #f4f0e8;
	text-align: center;
}

.copyright h3 {
	margin: 0;
	margin-top: 5px;
	font-family: 'Playfair Display', Serif;
	font-weight: lighter;
	font-size: 15px;
}

.copyright h3 a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #fb6d7f;
}

.headerfixed {
	z-index: 99999;
}

.headerfixed .leftribbon {
	top: -10px;
}

.headerfixed .leftshadow {
	top: -10px;
}

.headerfixed .bar {
	top: 0px;
}

.headerfixed .rightribbon {
	top: -10px;
}

.headerfixed .rightshadow {
	top: -10px;
}

.headerfixed .logo {
	border: 0px;
	background: none;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

.burger {
	display: none;
}

.success {
	font-family: 'Playfair Display', Serif;
	background-color: #fb6d7f;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1px;
	border-radius: 10px;
	text-align: center;
	width: 94%;
	font-size: 14px;
	position: relative;
	left: 37px;
}

.preview {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 999999999999;
	background: rgba(0, 0, 0, 0.6);
}

.preview .close {
	width: 25px;
	margin: 0 auto;
	position: relative;
	margin-right: 5px;
	background-color: maroon;
	padding-left: 10px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.3s;
}

.preview .close:HOVER {
	background-color: #fb6d7f;
}

.preview .close span {
	color: white;
	font-size: 1.75em;
}

.preview .image {
	width: 700px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}

.preview .image img {
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	border: 2px solid white;
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
	.bghome {
		background-position: center center;
		background-size: auto 100%;
	}
	.shopcontent .item #img3 {
		background-position: -36px -10px;
	}
	.header .leftribbon {
		left: 148px;
		top: -96px;
		border: 18px solid rgba(81, 102, 51, 0.7);
		border-left: 24px solid transparent;
		display: none;
	}
	.header .leftshadow {
		top: -96px;
		left: 135px;
		height: 36px;
		display: none;
	}
	.header .bar {
		width: 20%;
		left: 130px;
		top: 10px;
	}
	.menu {
		font-size: 14px;
		width: 500%;
		display: block;
		top: 59px;
		left: -191px;
		padding-left: 0px;
		z-index: 99999;
	}
	.dash .menu .option {
		display: block;
		width: 100%;
		position: relative;
		height: 27px;
		background-color: rgba(255, 255, 255, 0.7);
		left: 60px;
	}
	.dash .menu .option:HOVER {
		color: white;
		height: 27px;
		position: relative;
		top: 0px;
		padding-top: 0px;
		text-shadow: 1px 1px gray;
	}
	.dash .menu .option h3 {
		font-size: 14px;
	}
	#home .flag {
		border-left: 158.375px solid rgba(31, 193, 180, 0.9);
		border-right: 158.375px solid rgba(31, 193, 180, 0.9);
	}
	#about .flag {
		border-left: 158.375px solid rgba(221, 83, 73, 0.9);
		border-right: 158.375px solid rgba(221, 83, 73, 0.9);
	}
	#shopnow .flag {
		border-left: 158.375px solid rgba(250, 113, 0, 0.9);
		border-right: 158.375px solid rgba(250, 113, 0, 0.9);
	}
	#contact .flag {
		border-left: 158.375px solid rgba(105, 193, 239, 0.9);
		border-right: 158.375px solid rgba(105, 193, 239, 0.9);
	}
	.header .rightshadow {
		height: 36px;
		left: 125px;
		top: -96px;
		display: none;
	}
	.header .rightribbon {
		border: 18px solid rgba(81, 102, 51, 0.7);
		left: 115px;
		top: -96px;
		border-right: 24px solid transparent;
		display: none;
	}
	.header .bar .dash {
		text-align: center;
	}
	.burger {
		display: block;
		position: relative;
		font-size: 2em;
		color: #fb6d7f;
		cursor: pointer;
		position: relative;
	}
	.main .maintitle {
		top: 120px;
	}
	.main .maintitle h1 {
		font-size: 3em;
	}
	.main .maintitle h2 {
		font-size: 1.75em;
	}
	.main .maintitle h3 {
		font-size: 1.5em;
	}
	#shopnowdiv .box .flag {
		border-left: 160px solid transparent;
		border-right: 160px solid transparent;
		border-top: 60px solid rgba(31, 193, 180, 1);
	}
	.abouttitle {
		height: 105px;
		width: 100%;
		left: 0px;
	}
	.abouttitle .cupcakebg {
		width: 100px;
		height: 100px;
		top: -45px;
		left: 35px;
	}
	.cupcakelogo .cupcakeimg {
		top: -62px;
		left: -55px;
		width: 75px;
		height: 75px;
	}
	.abouttitle h1 {
		font-size: 2.5em;
		top: -100px;
		left: 0px;
	}
	.aboutcontent {
		height: 700px;
	}
	.aboutcontent .bgimg {
		background-size: auto 100%;
	}
	.aboutcontent .box {
		top: 60px;
		left: 15px;
		height: 54%;
	}
	.aboutcontent .box .photo {
		height: 50%;
		width: 100%;
		display: block;
	}
	.box .abouttext {
		height: 101%;
		width: 100%;
		left: 0px;
	}
	.aboutcontent .box .abouttext p {
		font-size: 0.9em;
	}
	#shopnowdiv .box .shoptitle {
		height: 60px;
	}
	.box .shoptitle h1 {
		top: 4px;
		font-size: 2em;
	}
	#shopnowdiv .box .flag .cakebox {
		width: 50px;
		height: 50px;
		top: -58px;
		left: -25px;
	}
	#shopnowdiv .box {
		height: 140px;
	}
	.shopcontent .item {
		width: 100%;
		height: 330px;
		display: block;
		margin-bottom: 15px;
		border-bottom: 1px dashed black;
	}
	.shopcontent .item h2 {
		font-size: 1.25em;
		margin: 0;
		margin-bottom: 15px;
	}
	.shopcontent .item .cakeimg {
		width: 100px;
		height: 100px;
		background-position: -58px -6px;
	}
	.shopcontent .item h3 {
		font-size: 1em;
	}
	.shopcontent #itemlong {
		height: 365px;
	}
	.shopcontent #itemshort {
		height: 190px;
		border-bottom: 0px;
	}
	.shopcontent2 .item {
		width: 100%;
		height: 400px;
		display: block;
	}
	.contactcontent .contacttable {
		width: 96%;
		left: 5px;
		right: 5px;
	}
	.contacttable tr {
		height: 50px;
	}
	.contacttable td {
		font-size: 12px;
	}
	.contacttable input {
		font-size: 12px;
	}
	.contacttable textarea {
		height: 95px;
		font-size: 12px;
	}
	.contacttable button {
		width: 83%;
		height: 34px;
		font-size: 14px;
		left: 0px;
		position: relative;
	}
	#contactdiv .addr {
		width: 100%;
		bottom: 43px;
		left: 5px;
		text-align: center;
		display: inline-table;
	}
	#contactdiv .head {
		width: 100%;
		height: 120px;
		text-align: center;
	}
	.copyright {
		height: 40px;
	}
	.copyright h3 {
		font-size: 13px;
	}
	.success {
		font-family: 'Playfair Display', Serif;
		background-color: #fb6d7f;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 1px;
		border-radius: 10px;
		text-align: center;
		width: 87%;
		font-size: 12px;
		position: relative;
		left: 42px;
	}
	.dash .logo {
		display: inline-block;
		width: 500%;
		height: 75%;
		border: 0px;
		border-radius: 0px;
		background: rgba(255, 255, 255, 0.7);
		top: -47px;
		padding-top: 10px;
		left: -132px;
		padding-bottom: 11px;
		position: relative;
		border-radius: 0px;
		padding-bottom: 11px;
	}
	.dash .logo .logoimg {
		background-image: url("/assets/logo.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 150px;
		height: 150px;
		position: relative;
		margin: 0 auto;
		top: -1px;
	}
	#menucont {
		top: 2px;
		display: block;
	}
	.shopcontent .item #img1 {
		background-position: -40px 0px;
	}
	.shopcontent .item #img2 {
		background-position: -26px -6px;
	}
	.shopcontent .item #img3 {
		background-position: -62px -10px;
	}
	.preview .close {
		width: 25px;
		margin: 0 auto;
		position: relative;
		margin-right: 30px;
		background-color: maroon;
		padding-left: 11px;
		padding-right: 0px;
		padding-top: 7px;
		padding-bottom: 8px;
		border-radius: 5px;
		border: 1px solid white;
		cursor: pointer;
		transition: 0.3s;
	}
	.preview .close span {
		color: white;
		font-size: 1em;
	}
	.preview .image {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		position: relative;
	}
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
	.bghome {
		background-position: center center;
		background-size: auto 100%;
	}
	.shopcontent .item #img1 {
		background-position: -40px 0px;
	}
	.shopcontent .item #img2 {
		background-position: -26px -6px;
	}
	.shopcontent .item #img3 {
		background-position: -62px -10px;
	}
	.header .leftribbon {
		left: 148px;
		top: 17px;
		border: 18px solid rgba(81, 102, 51, 0.7);
		border-left: 24px solid transparent;
		display: none;
	}
	.header .leftshadow {
		top: 17px;
		left: 135px;
		height: 36px;
		display: none;
	}
	.header .bar {
		width: 20%;
		left: 143px;
		top: 10px;
	}
	.menu {
		font-size: 14px;
		width: 500%;
		display: block;
		top: 58px;
		left: -191px;
		padding-left: 0px;
		z-index: 99999;
	}
	.dash .menu .option {
		display: block;
		width: 100%;
		position: relative;
		height: 27px;
		background-color: rgba(255, 255, 255, 0.7);
		left: 45px;
	}
	.dash .menu .option:HOVER {
		color: white;
		height: 27px;
		position: relative;
		top: 0px;
		padding-top: 0px;
		text-shadow: 1px 1px gray;
	}
	.dash .menu .option h3 {
		font-size: 16px;
		height: 25px;
	}
	#home .flag {
		border-left: 158.375px solid rgba(31, 193, 180, 0.9);
		border-right: 158.375px solid rgba(31, 193, 180, 0.9);
	}
	#about .flag {
		border-left: 158.375px solid rgba(221, 83, 73, 0.9);
		border-right: 158.375px solid rgba(221, 83, 73, 0.9);
	}
	#shopnow .flag {
		border-left: 158.375px solid rgba(250, 113, 0, 0.9);
		border-right: 158.375px solid rgba(250, 113, 0, 0.9);
	}
	#contact .flag {
		border-left: 158.375px solid rgba(105, 193, 239, 0.9);
		border-right: 158.375px solid rgba(105, 193, 239, 0.9);
	}
	.header .rightshadow {
		height: 36px;
		left: 125px;
		top: 17px;
		display: none;
	}
	.header .rightribbon {
		border: 18px solid rgba(81, 102, 51, 0.7);
		left: 115px;
		top: 17px;
		border-right: 24px solid transparent;
		display: none;
	}
	.header .bar .dash {
		text-align: center;
	}
	.burger {
		display: block;
		position: relative;
		font-size: 2em;
		color: #fb6d7f;
		cursor: pointer;
		position: relative;
	}
	.main {
		height: 627px;
	}
	.main .maintitle {
		top: 120px;
	}
	.main .maintitle h1 {
		font-size: 4.5em;
	}
	.main .maintitle h2 {
		font-size: 2.5em;
	}
	.main .maintitle h3 {
		font-size: 1.75em;
	}
	#shopnowdiv .box .flag {
		border-left: 180px solid transparent;
		border-right: 180px solid transparent;
		border-top: 60px solid rgba(31, 193, 180, 1);
		top: -1px;
	}
	.abouttitle {
		height: 105px;
		width: 100%;
		left: 0px;
	}
	.abouttitle .cupcakebg {
		width: 100px;
		height: 100px;
		top: -45px;
		left: 35px;
	}
	.cupcakelogo .cupcakeimg {
		top: -62px;
		left: -55px;
		width: 75px;
		height: 75px;
	}
	.abouttitle h1 {
		font-size: 2.5em;
		top: -100px;
		left: 0px;
	}
	.aboutcontent {
		height: 700px;
	}
	.aboutcontent .bgimg {
		background-size: auto 100%;
	}
	.aboutcontent .box {
		top: 60px;
		left: 15px;
		height: 54%;
	}
	.aboutcontent .box .photo {
		height: 50%;
		width: 100%;
		display: block;
	}
	.box .abouttext {
		height: 101%;
		width: 100%;
		left: 0px;
	}
	.aboutcontent .box .abouttext p {
		font-size: 0.96em;
	}
	#shopnowdiv .box .shoptitle {
		height: 60px;
	}
	.box .shoptitle h1 {
		top: 4px;
		font-size: 2em;
	}
	#shopnowdiv .box .flag .cakebox {
		width: 50px;
		height: 50px;
		top: -58px;
		left: -25px;
	}
	#shopnowdiv .box {
		height: 140px;
	}
	.shopcontent .item {
		width: 100%;
		height: 330px;
		display: block;
		margin-bottom: 15px;
		border-bottom: 1px dashed black;
	}
	.shopcontent .item h2 {
		font-size: 1.25em;
		margin: 0;
		margin-bottom: 15px;
	}
	.shopcontent .item .cakeimg {
		width: 100px;
		height: 100px;
		background-position: -58px -6px;
	}
	.shopcontent .item h3 {
		font-size: 1em;
	}
	.shopcontent #itemlong {
		height: 365px;
	}
	.shopcontent #itemshort {
		height: 190px;
		border-bottom: 0px;
	}
	.shopcontent2 .item {
		width: 100%;
		height: 400px;
		display: block;
	}
	.contactcontent .contacttable {
		width: 96%;
		left: 5px;
		right: 5px;
		padding-bottom: 15px;
	}
	.contacttable tr {
		height: 50px;
	}
	.contacttable td {
		font-size: 12px;
	}
	.contacttable input {
		font-size: 12px;
	}
	.contacttable textarea {
		height: 95px;
		font-size: 12px;
	}
	.contacttable button {
		width: 85%;
		height: 34px;
		font-size: 14px;
		left: 0px;
		position: relative;
	}
	#contactdiv .addr {
		width: 100%;
		bottom: 43px;
		left: 5px;
		text-align: center;
		display: inline-table;
	}
	#contactdiv .head {
		width: 100%;
		height: 120px;
		text-align: center;
	}
	.copyright {
		height: 40px;
	}
	.copyright h3 {
		font-size: 13px;
	}
	.success {
		font-family: 'Playfair Display', Serif;
		background-color: #fb6d7f;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 1px;
		border-radius: 10px;
		text-align: center;
		width: 87%;
		font-size: 12px;
		position: relative;
		left: 42px;
	}
	.dash .logo {
		display: inline-block;
		width: 500%;
		height: 75%;
		border: 0px;
		border-radius: 0px;
		background: rgba(255, 255, 255, 0.7);
		top: -47px;
		padding-top: 10px;
		left: -146px;
		padding-bottom: 10px;
		position: relative;
		border-radius: 0px;
	}
	.dash .logo .logoimg {
		background-image: url("/assets/logo.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 150px;
		height: 150px;
		position: relative;
		margin: 0 auto;
		top: -1px;
	}
	#menucont {
		top: 2px;
		display: block;
	}
	.preview .close {
		width: 25px;
		margin: 0 auto;
		position: relative;
		margin-right: 30px;
		background-color: maroon;
		padding-left: 11px;
		padding-right: 0px;
		padding-top: 7px;
		padding-bottom: 8px;
		border-radius: 5px;
		border: 1px solid white;
		cursor: pointer;
		transition: 0.3s;
	}
	.preview .close span {
		color: white;
		font-size: 1em;
	}
	.preview .image {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		position: relative;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.bghome {
		background-size: auto 100%;
	}
	.header {
		left: -16px;
	}
	.menu {
		font-size: 24px;
		margin-top: 6px;
		padding-left: 3px;
		width: 37%;
		top: -4px;
	}
	.dash .menu .option {
		width: 49%;
	}
	.dash .menu .option h3 {
		font-size: 22px;
	}
	.header .leftribbon {
		left: 17px;
	}
	.header .leftshadow {
		left: 5px;
	}
	.header .bar {
		left: 0px;
	}
	.header .rightshadow {
		left: -3px;
	}
	.header .rightribbon {
		left: -12px;
	}
	.abouttitle {
		width: 100%;
		left: 0px;
	}
	.abouttitle .cupcakebg {
		left: 40px;
	}
	.cupcakelogo .cupcakeimg {
		left: -88px;
	}
	.abouttitle h1 {
		left: 0px;
	}
	.aboutcontent .box .photo {
		background-size: auto 100%;
		background-position: center center;
	}
	.aboutcontent .box .abouttext p {
		font-size: 0.9em;
	}
	.aboutcontent .box {
		left: 50px;
	}
	#shopnowdiv .box .flag {
		border-left: 384px solid transparent;
		border-right: 384px solid transparent;
	}
	#shopnowdiv .shopcontent {
		text-align: center;
	}
	.shopcontent .item {
		width: 50%;
	}
	.shopcontent .item .cakeimg {
		width: 300px;
		height: 300px;
	}
	.shopcontent .item h3 {
		font-size: 1.75em;
	}
	div#itemlong {
		margin-bottom: 40px;
	}
	.shopcontent2 .item {
		width: 49%;
	}
	#contactdiv .addr {
		left: 60px;
	}
	.dash .logo .logoimg {
		background-image: url("/assets/logo.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 120px;
		height: 28px;
		position: relative;
		margin: 0 auto;
	}
	.dash .logo {
		display: inline-block;
		width: 21%;
		height: 74%;
		border: 1px solid grey;
		border-radius: 32px;
		background: rgba(255, 255, 255, 1);
		top: -5px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
	}
}